server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/acu_note?useSSL=false&serverTimezone=UTC
    username: YnezArk
    password: 36987412
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.example: DEBUG